*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
p{
	margin:5px auto;
}
input{
	width:150px;
	border-radius:8px;
	border:1px solid #ccc;
}

.ui-button-icon-only,
.ui-dialog-titlebar-close{
	background: url("../img/delete.png");
	background-repeat:no-repeat;
}
